.loading-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--Margin-Color);
    height: 10%;
    span{
        color: var(--Text-Light);
        font-weight: 700; 
    }
}