.data-cell{
    margin-left: 25vw;
    position: fixed;
    width: 60vw;
    padding: 1em 5em;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-top: 3em;
    .general-information{
        width: 100%;    
    }
    .section-information{
        width: 60vw;
        display: flex;
        justify-content: space-between;
        border-bottom-style: solid;
        border-bottom-color: var(--Margin-Color);
        border-bottom-width: 1px;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
        .tag-info{
            color: var(--Text-Light);
        }
        .vehicle-name{
            color: var(--Text-Light);
        }
        .info{
            color: var(--Ravn-Black);
        }    
    }
    
}