@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --Ravn-Black: #121212;
  --Text-Dark: #333333;
  --Text-Light: #828282;
  --Text-Emphasis: #EC5757;
  --Margin-Color: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2{
  font-size: 17pt;
  color: rgba(0,0,0,1);
}

span{
  font-size: 14pt;
  color: rgba(0,0,0,1);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}